.terms-holder {
  .heading-holder {
    max-width: 760px;
    margin: 0 auto;
    padding: 0 0 59px;

    p {
      font-size: 20px;
      line-height: 30px;
      color: #667085;
      margin: 0 0 39px;
    }
  }

  h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: $color-primary;
    margin: 0 0 24px;
  }

  .info-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #33426a;
    text-transform: uppercase;
    display: block;
    margin: -30px 0 11px;
    text-align: center;
  }

  .content-holder {
    max-width: 760px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding: 58px 0;

    &:before {
      content: '';
      left: -9999px;
      right: -9999px;
      top: 0;
      bottom: 0;
      background: #f9fafb;
      z-index: -1;
      position: absolute;
    }

    h2 {
      font-weight: 600;
      font-size: 30px;
      line-height: 38px;
      color: #101828;
      margin: 0 0 21px;
    }

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #667085;
      margin: 0 0 39px;
    }
  }
}
