$color-primary: #33426a;
$tab-background: #f4f6fa;

.logic__section {
  &-block {
    margin: 0px 0 toRem(8) !important;
    position: relative;

    .delete__logic {
      position: absolute;
      right: toRem(-23);
      top: toRem(-23);
      transition: all 0.3s;
      transform-origin: center;

      &:hover {
        background: transparent;
        transform: scale(1.1);
      }
    }

    & > div {
      overflow: hidden !important;
      margin: 0;
      padding: 0;
      width: 100%;

      & > div {
        margin: 0;
        padding: 0 !important;
        background: transparent !important;
      }
    }

    .trigger_value {
      //   display: flex;
    }

    .logic__section-select {
      overflow: hidden !important;
      padding: 0 !important;
      height: 30px !important;
      font-size: 14px !important;
      margin: 0 4px !important;
      div {
        font-size: 14px !important;
      }

      svg {
        top: auto !important;
      }

      &.select__box-trigger {
        position: relative;
        & > div {
          opacity: 0;
          width: 130px;
        }
        & > span {
          width: 130px;
          position: absolute;
          z-index: 100;
          left: 0;
          top: 0;
          align-items: center;
          pointer-events: none;
          display: flex;
          background: #fff;
          font-size: 14px;
          font-family: 'Inter', sans-serif;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.87);
          cursor: pointer;
          display: inline-flex;
          align-items: center;
          padding: 6px;
          outline: none;
          border-radius: 8px;
          border: 1px solid #d0d5dd;
          padding: 6px;
          height: 30px;
          box-sizing: border-box;
          margin-right: 6px;
          white-space: nowrap;

          svg {
            font-size: 24px;
          }
        }
      }
    }

    .text_answer_add_logic {
      display: flex;
      flex-direction: column;

      .trigger_value {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(toRem(100), toRem(200)));

        .chip__container {
          width: 100%;
          border: $custom-border;
          border-radius: 0;
          border-width: 1.2px;
          border-color: $logic-border-color;

          display: flex;
          align-items: center;
          justify-content: space-between;

          span {
            padding: 4px 8px;
          }

          span:last-child {
            display: flex;
            cursor: pointer;
            svg {
              font-size: toRem(14);
            }
          }

          &:not(:last-child) {
            border-right: none;
          }
        }
      }

      & .text_answer_add_logic_inner {
        display: flex;
        align-items: center;
        padding: toRem(12);
        background: $logic-bg;

        .input__field-select {
          span {
            display: flex;
            align-items: center;
            margin: 0 3px;
          }
        }
      }
    }
  }
}

.changes__logic-container {
  display: grid !important;
  grid-template-columns: 1fr max-content;
  align-items: center;
  gap: 12px;
  .addLogic_button {
    grid-row: 1;
    grid-column: 2;
    width: 100%;
    text-align: end;
  }

  .logic__display-part {
    grid-row: 2;
    grid-column: 1/-1;
  }

  .input__field-select {
    input {
      width: auto;
      max-width: max-content;
    }

    & > span {
      background: #fff;
      font-size: 14px;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      line-height: 1.4375em;
      color: rgba(0, 0, 0, 0.87);
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      padding: 6px;
      outline: none;
      border-radius: 8px;
      border: 1px solid #d0d5dd;
      padding: 6px;
      height: 26px;
      box-sizing: border-box;
      margin-right: 6px;
      svg {
        font-size: 18px;
      }
    }
  }
}

.logic__tab-container {
  border-bottom: 2px solid $tab-background;
  margin-bottom: toRem(0);
  display: flex;

  button {
    background: transparent;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    // overflow: hidden;
    // max-width: toRem(120);
    // text-overflow: ellipsis;
    // white-space: nowrap;

    &.active {
      border-bottom: 2px solid $color-primary;
    }
  }
}

.heading__options {
  display: flex;
  align-items: center;
  .multiple__checkbox {
  }

  #demo-multiple-checkbox-label {
    top: -2%;
  }

  .css-ycy96a-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    transform: translate(13px, -3px) scale(0.75);
  }
}

.menu__options-logic {
  // display: none !important;
  font-size: toRem(14);
  // padding-top: 0 !important;
  // padding-bottom: 0 !important;
}

// for this to work do not put position relative, absolute , fixed or static in logic block
.move__logic {
  // position: absolute;
  // top: toRem(56);
  // left: calc(100% - 33%);
  // display: none;

  // @media (min-width: 1000px) {
  //   left: calc(100% - 33%);
  // }
  display: none;
}

.logic__container {
  // padding: $custom-answer-padding;
  &.hide {
    height: toRem(10);
    overflow: hidden;
    // transform: scaleY(0);
    // opacity: 0;
    // transition: all 0.3s;
    // position: absolute;
    // z-index: -1;
    // pointer-events: none;
  }

  &.show {
    // opacity: 1;
    // position: static;
    // z-index: 1;
    // pointer-events: all;
    // transform: scaleY(1);
    height: auto;
    overflow: auto;
    transition: all 0.3s;
  }
}

.nested__block {
  .move__logic {
    // left: calc(100% - 24.3%);
    left: calc(100% - 32%);
  }

  .logic__container {
    padding-left: 0;
    padding-right: 0;

    .heading__options {
      padding: $custom-answer-padding;
    }
  }
  #TextAnswer .TextAnswer_wrapper {
    // padding: $custom-answer-padding;
  }
}

#EvidenceModal {
  .fix__layout {
    width: toRem(700);

    @media (max-width: 1000px) {
      width: toRem(400);

      @media (max-width: 800px) {
        width: toRem(300);
      }
    }

    .config_modal_heading {
      padding: toRem(32);
    }

    .config_modal_title {
      color: $color-primary;
      line-height: 2;
    }

    .config_modal_text {
      padding-bottom: toRem(10);
    }

    .box {
      background: $logic-bg;
      padding: toRem(18) toRem(12);
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .mui_modal_close_icon {
      top: toRem(22);
    }

    .form__control {
      padding-top: toRem(12);
      padding-bottom: toRem(10);
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid $evidence-border;
    }

    .document_number_format_footer {
      max-width: 50%;
      margin-left: auto;

      @media (max-width: 800px) {
      }
    }
  }
}
