#SelectResponseType {
  padding: 40px 0 20px 0;
  margin-left: 17px;

  .select__single-value img {
    width: 23px;
    height: 23px;
  }

  .select__single-value .options_label_container {
    display: flex;
    align-items: center;
  }

  .select__single-value .options_label_container label {
    margin-left: 10px;

    font-weight: 500;
    font-size: 15px;
    line-height: 24px;

    color: #283352;
  }

  .select__value-container {
    padding: 2px 4px !important;
    height: 42px;
  }
}

.select__option--is-focused {
  background-color: #f9fafb !important;
}
.css-tr4s17-option {
  background-color: #c2c6c9 !important;
}

.options_label_container {
  display: flex;
  align-items: center;
  // background: #f9fafb;

  label {
    margin-left: 10px;

    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #283352;
  }
}
