@media print {
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .upload_layout_cover {
    border: 1px dashed #c1c6d4 !important;
    border-radius: 15px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px !important;
    overflow: hidden !important;
    cursor: pointer;
  }

  .layout_profile_container {
    position: relative;
  }

  .layout_profile_image {
    position: absolute;
    left: 40px;
  }

  .profile_inner_container {
    border-radius: 50px;
    border: 2px solid #eaecf0 !important;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
    background-color: #fff;
    cursor: pointer;
    overflow: hidden;
  }

  .layout_title_container {
    position: absolute;
  }

  .countingDataContainer {
    border: 1px solid #eee !important;
    padding: 10px;
    border-radius: 5px;
  }

  .box-container-pdf {
    border: 1px solid #eee !important;
    border-radius: 5px;
    overflow: hidden;
  }

  .pdf_label {
    border-bottom: 1px solid #eee !important;
    background-color: #eaecf0;
    overflow: hidden;
    padding: 10px;
  }

  .Pdf_break_main_container {
    position: relative;
  }

  .pdf_page_break_container {
    border: 1px dashed #eaecf0 !important;
    margin: 30px 0px;
    letter-spacing: 4px;
  }

  .pdf_page_break_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -20px;
    background: #f9fafb;
    border-radius: 50px;
    font-size: 12px;
    padding: 5px 10px;
    color: #c1c6d4;
    border: 1px solid #f2f4f7 !important;
  }

  .individual_box_container {
    display: flex;

    flex-direction: column;
    padding: 10px;
  }

  .custom_border_bottom {
    border-bottom: 1px solid #eee !important;
  }

  .custom_border_bottom:last-child {
    border-bottom: none !important;
  }

  .status_highlight {
    mix-blend-mode: multiply;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    background-color: #fef3f2;
    color: rgb(181, 71, 8);
    gap: 5px;
  }

  .individual_box_container {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .custom_border_bottom {
    border-bottom: 1px solid #eee !important;
  }

  .custom_border_bottom :last-child {
    border-bottom: none !important;
  }
}
