#Calendar .calendar__container {
  padding: 40px 30px;

  .rbc-current .rbc-button-link {
    color: #3677a3;
    font-size: 14px;
    font-weight: bold;
  }

  .rbc-event {
    z-index: 999 !important;
  }

  .rbc-date-cell .rbc-button-link {
    color: #384874;
    font-weight: 600;
    font-size: 14px;
  }

  .calendar_header_btns {
    display: flex;
    justify-content: space-between;
    margin: 17px 0;
  }

  .rbc-header {
    padding: 13px 3px;
    font-size: 100%;
    font-weight: 400;
  }
  .rbc-month-view,
  .rbc-time-view,
  .rbc-agenda-view {
    border-radius: 8px !important;
  }

  .rbc-toolbar {
    margin-bottom: 30px;
  }

  .rbc-btn-group {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 1px solid rgba(56, 72, 116, 0.5);
    color: #384874;
    text-transform: none;
    border-radius: 8px;
  }
  .rbc-toolbar button {
    color: #384874;
    border: 1px solid #384874;
    // border-radius: 6px;
  }

  .rbc-toolbar button:hover {
    cursor: pointer;
  }
  .rbc-toolbar button:active,
  .rbc-toolbar button.rbc-active {
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    background-color: #384874;
    color: #ffffff;
  }

  .rbc-month-view,
  .rbc-time-view {
    background-color: #ffffff;
  }

  .calendar_show_more {
    margin-top: 75px;
    background: #ffffff;
    border: 1px solid #eaecf0;
    border-radius: 8px;
    padding: 10px 16px;

    .calendar_show_more_header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .calendar_show_more_header_left {
        font-size: 20px;
        font-weight: 600;
        color: #384874;
      }
      .calendar_show_more_date {
        font-size: 14px;
        font-weight: 400;
        color: #4c4c4e;
      }
    }

    .calendar_show_more_card_container {
      height: 58.5vh;
      overflow-y: auto;
    }
    .calendar_show_more_card {
      padding: 13px 10px;
      border-radius: 8px;
      margin-bottom: 8px;

      .calendar_show_more_card_title {
        margin-bottom: 7px;
      }

      .calendar_show_more_card_time {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  #CalendarFilter {
    margin-top: 75px;
    .filter_body {
      label {
        color: #384874;
        margin: 10px 0;
      }
      .custom_label {
        padding-bottom: 8px;
        margin-top: 7px;
      }
    }
    .MuiInputBase-input {
      height: 15px;
    }
    .MuiInputBase-root {
      padding: 4px;
      font-size: 10px;
      height: auto;
    }

    // padding: 20px 10px;
    .filter_heading {
      display: flex;
      justify-content: space-between;

      .filter_heading_left_title {
        font-size: 16px;
        font-weight: 600;
        color: #384874;
      }
      .filter_heading_left_text {
        font-size: 14px;
        font-weight: 400;
        color: #384874;
      }
    }
  }
}
