#AccessControl {
  width: 90%;
  margin: 2rem auto;
  .access_control_container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2rem 0;

    .access_control__wrapper {
      width: 100%;
      .title {
        padding: 0.5rem 0.75rem;
        background-color: var(--mui-palette-primary-main);
        width: fit-content;
        color: white;
        border-radius: 3px;
      }
    }
    /* Create four equal columns that floats next to each other */
    .column {
      float: left;
      width: 24%;
      // padding: 10px;
      padding: 1rem 0;
      .item_list + .item_list::before {
        display: inline-block;
        white-space: pre;
        content: ", ";
      }

      .column_item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }

      .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .action {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 0.5rem;
        }
      }

      // border-bottom: 1px solid #ddd;
    }
    .row {
      border: 1px solid #ddd;
      padding: 10px;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
    }
    .column_wrapper {
      border-bottom: 1px solid silver;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 900px) {
      .column {
        width: 50%;
      }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .column {
        width: 100%;
      }
    }
  }
}
