.customer {
  &__container {
    .customer__heading {
      padding-bottom: 1rem;
      margin-bottom : 1rem;
      border-bottom : 2px solid #eaecf0;
    }

    .info__container {
      margin-bottom: 1rem;
    }
  }
}

.info__container_activity {
  margin-top   : 0 !important;
  margin-left  : 0 !important;
  margin-bottom: 1rem;
  width        : 100% !important;
}