.modal__box-assign {
  .assign-activity-form {
    border: none;
    box-shadow: none;

    & > button,
    & > h6 {
      display: none;
    }

    .formGroupItem {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: toRem(12);

      @container (max-width: 700px) {
        grid-template-columns: repeat(1, 1fr);
      }

      & > div {
        max-width: none;
      }
    }

    .editor__container {
      grid-template-columns: auto;

      .image__uploader-box {
        grid-row: auto;
        grid-column: auto;
        justify-self: start;
      }

      @container (max-width: 590px) {
        width: 89%;
        flex-wrap: wrap;
        gap: toRem(8);
        grid-column: auto;
        grid-template-rows: toRem(200) 1fr;

        .header__toolbar {
          flex-direction: column;
          gap: toRem(8);
        }

        .RichEditor-controls {
          flex-wrap: wrap;
          gap: toRem(8);
        }
      }
    }
  }
}

.assign__modal {
  container-type: inline-size;
}

.action__container-activity {
  display: flex;
  flex-direction: column;
  gap: toRem(16);
  max-height: toRem(150);
  overflow: auto;
  padding-top: toRem(16);

  .activity__card {
    display: flex;
    border: 1px solid $evidence-border;
    justify-content: space-between;
    align-items: center;
    border-radius: toRem(5);
    padding: toRem(8) toRem(16);

    p,
    h4 {
      margin: 0;
      text-transform: capitalize;
      font-weight: 500;

      span {
        font-weight: normal;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      gap: toRem(4);

      button {
        background: none;
        outline: none;
        border: none;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

#InspectionStarter {
  box-sizing: border-box;
  background: $color-white;

  .inspection_starter__wrapper {
    max-width: 60%;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: toRem(30);

    form {
      padding-bottom: toRem(40);
    }
  }

  .mobile_component_box {
    margin-top: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: toRem(16) toRem(18);
    border: 1px solid #eaecf0;

    #MobileTextAnswer {
      line-height: 2.4;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: toRem(-19);
        width: toRem(3);
        height: 85%;
        background: $inspection-question-indicator;
        top: 13%;
        border-radius: toRem(15);
      }

      .speech__box {
        position: absolute;
        right: 3px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
      }

      .custom__input-style {
        input {
          padding-right: 2rem !important;
        }
      }
    }

    .mobile_component_box_wrapper_input {
      margin-top: 10px;
    }

    .action_buttons {
      margin: 15px 0;
      display: flex;
      justify-content: space-between;

      .MuiButton-outlined {
        margin-right: 3px;
      }

      .MuiButton-contained {
        margin-left: 3px;
      }
    }

    .mobile_component_box_wrapper_footer {
      display: flex;
      justify-content: flex-end;
      margin-top: 14px;
      gap: toRem(16);

      // .footer_item {
      //   cursor: pointer;
      //   display: flex;
      //   align-items: center;
      //   .footer_item_text {
      //     font-size: 12px;
      //     font-weight: 500;
      //     color: #283352;
      //   }
      // }
      // .footer_item_icon {
      //   margin-top: 3px;
      //   img {
      //     width: 16px;
      //     height: 16px;
      //     margin-right: 5px;
      //     filter: saturate(1.5);
      //   }
      // }
    }

    .footer_items_action {
      .footer_items_action_menu {
        margin: 20px 0;

        .create_action_ {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .create_action_right {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}

// inspection form new design
.inspection_starter__wrapper {
  .inspection__header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    border: $inspection-border;
    padding: toRem(16) toRem(18);
    border-top: none;
    border-radius: toRem(4);

    & > * {
      width: 100%;
    }

    & > .group {
      &:last-child {
        text-align: end;
      }
    }

    .group {
      display: flex;
      flex-direction: column;

      & > div {
        margin-bottom: toRem(8);
      }

      .page__style {
        background: $inspection-page-indicator;
        align-self: flex-start;
        padding: toRem(6) toRem(12);
        border-radius: toRem(15);
        cursor: pointer;

        &,
        span {
          display: flex;
          align-items: center;
        }

        svg {
          font-size: toRem(20);
          margin-left: toRem(6);
        }
      }
    }
  }
}

.inspection__section {
  border-radius: toRem(8) !important;
  background: #283352 !important;

  &-image {
    background: #283352;
    display: flex;
    align-items: center;
    margin-right: toRem(12);
    mix-blend-mode: exclusion;
    border-radius: toRem(4);
  }
}

// .error message modal

#InspectionStarter {
  position: relative;
}

* {
  box-sizing: border-box;
}

.error-message__modal {
  z-index: 20;
  position: fixed;
  // transform: translateY(-50%);
  right: 0%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  // background: $color-light;
  background: $color-white;
  bottom: 0;
  border-top-left-radius: toRem(14);
  overflow: hidden;
  width: min(toRem(400), toRem(500));
  padding-right: toRem(4);
  transition: all 0.3s;
  max-height: toRem(800);

  &.close {
    // bottom: -57vh;
    max-height: toRem(41);
  }

  .question__list-header {
    display: grid;
    align-items: center;
    padding: toRem(8) toRem(12);
    padding-bottom: toRem(6);
    gap: toRem(8);
    font-weight: bold;
    color: var(--mui-palette-primary-main);
    letter-spacing: 1px;
    transition: all 0.3s;
    cursor: pointer;
    transform-origin: center;
    border-bottom: 1px solid $inspection-page-indicator;
    grid-template-columns: toRem(32) 1fr toRem(20);

    &:hover {
      letter-spacing: 1.2px;
      background: var(--mui-palette-primary-main);
      color: $color-white;
    }

    svg {
      transition: all 0.3s;
    }

    .rotate {
      transform: rotate(180deg);
    }

    .heading__body {
      display: flex;
      align-items: center;
      gap: 8px;

      svg {
        font-size: toRem(20);
        color: $error-color-code;
      }
    }
  }

  &.error-style {
    header {
      background: $error-color-bg-1;

      &:hover {
        background-color: $error-color-bg-1;
        color: $error-color-code;
      }
    }
  }

  .filter {
    padding: toRem(8) toRem(12);
    border-bottom: 1px solid $inspection-page-indicator;
    display: flex;
    flex-direction: column;
    gap: toRem(8);

    & > div {
      width: 100%;
      display: flex;
      align-items: center;
    }

    .search__text {
      input {
        width: 100%;
        padding: toRem(8) toRem(16);
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.23);
        border-radius: 4px;
      }
    }

    .switch__group {
      display: flex;
      justify-content: flex-end;

      // padding-right: toRem(14);
      label,
      input {
        cursor: pointer;
      }
    }
  }

  .question__list-main {
    width: 100%;
    overflow: auto;
    max-height: 50vh;
    min-height: 30vh;

    div {
      padding: toRem(8) toRem(12);
      cursor: pointer;
      font-size: toRem(14);
      font-weight: 500;
      line-height: 1.6;
      display: grid;
      grid-template-columns: minmax(toRem(10), toRem(24)) 1fr toRem(40);
      transition: all 0.3s;
      border-bottom: 1px solid $inspection-page-indicator;

      .text__body {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }

      &:hover {
        // color: #fff;
        background-color: $inspection-page-indicator;
        border-color: transparent;
      }
    }

    .error__box-question {
      // border: 1px solid $error-color-code;
      color: $error-color-code !important;
      background: $error-color-bg-1;

      &:hover {
        background-color: $error-color-bg;
      }
    }
  }

  footer {
    padding: toRem(0) toRem(12);
  }
}
