// user alert
.search-list-container {
  border: 1px solid #eaecf0 !important;
  border-right: 0px !important;
  margin-top: 13px;
  border-radius: 8px;
}

.search-module-container {
  width: 960px;
  border-right: 0px !important;
  // padding: 8px 0px;
  height: 500px;
  overflow-y: auto;
  margin: 5px;
}

.alphabet-list-container {
  display: flex;
  align-items: end;
  justify-content: end;
  flex-direction: column;
  width: 40px;
  border: 1px solid #eaecf0 !important;
  border-top: 0px !important;
  border-bottom: 0px !important;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.module-inner-container {
  padding: 8px 0px;
  margin: 0px 5px;
  font-weight: 400;
  color: #1f2840;
  cursor: pointer;
  border-radius: 8px;
}

.module-inner-container:hover {
  background-color: #f9fafb;
}

.selected-user-module {
  background-color: #f9fafb;
  border: 1px solid #eaecf0 !important;
}

.no-alert-user-found-container {
  border: 1px solid #eaecf0 !important;
  margin-top: 16px;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.popup-active-hammer {
  color: '#1F2840';
  font-weight: 700;
}

.user-alert-times-icon {
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #f9fafb;
}

.user-alert-times-icon:hover {
  background-color: #eaecf0;
  transition: all 0.3s ease-in-out;
}

.proceed-button-icon {
  transform: rotate(180deg);
  margin-top: 6px;
}

//  end

.notification__multi-email {
  .add__more-group {
    max-width: 100% !important;

    button {
      white-space: nowrap !important;
    }
  }
}

.fixed__popup {
  background-color: #fff;
  top: 0;
  position: fixed;
  left: 0;
  z-index: 1400;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#backend__fields,
.MuiAutocomplete-popper {
  z-index: 1401 !important;
}

$color-priumary: #384874;

.custom__alert-box {
  .formGroupItem {
    margin: 0;
    width: 100%;
  }
}

.full__container {
  overflow: hidden;
}

.notifcation__header {
  position: relative;
  margin-bottom: 15px !important;
  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    background: #eaecf0;
    width: 120%;
    height: 1px;
    left: -10%;
  }
}

.notification__alert-heading {
  border: 1px solid #eaecf0;
  margin: 16px 0;
  padding: 16px 12px;
  border-radius: 8px;
  h1 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }
}

.alert__form-fill {
  h2 {
    margin: 0;
  }
}

.custom__alert-box {
  .formGroupItem {
    & > div {
      padding-left: 0 !important;
    }
  }

  .trigger__block {
    padding-bottom: 16px;
    padding-top: 0px;
    border-bottom: 1px solid #eaecf0;
    border-top: 1px solid #eaecf0;
    position: relative;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 8px;
    padding-left: 8px;
    gap: 8px;
  }

  .notifcation__container {
    background: #f9fafb;
    margin-top: 16px;
    padding: 16px 16px;
    border-radius: 8px;

    .container__heading {
      color: $color-priumary;
    }

    .switch__option {
      & > div {
        padding-top: 6px;
      }
    }

    .multiple_email_address_id {
      padding-top: 8px;
    }
  }
}

.final__actions {
  & > button {
    width: 100%;
  }
}
