#InvoicePreview {
  .InvoicePreview_container {
    padding: 20px;
  }

  .InvoicePreview_heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .InvoicePreview_heading_left_side {
      font-size: 20px;
      font-weight: 600;
    }
  }
  .pdf_preview_label {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #6f6f84;
  }
  // .pdf_preview_text {
  //   font-size: 15px;
  //   font-weight: 500;
  //   margin-bottom: 10px;
  // }

  // .invoice_info_container {
  //   display: grid;
  //   grid-template-columns: auto auto auto auto;
  //   background-color: #2196f3;
  // }
}
